<%= render "layouts/top.html.erb" %>
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title"><h4>BOOKING HISTORY</h4></div>
      </div><!--.panel-heading-->
      <div class="panel-body">
<div class="row">
  <div class="col-md-12">

    <ul class="list-material">
      <li class="has-action-left has-action-right">
        <a href="#" class="visible">
          <div class="list-action-left">
            <i class="ion-calendar icon"></i>
          </div>
          <div class="list-content">
            <span class="title">Sales Conference</span> - Alton Henley
            <span class="caption">January 12, 2016 - 4pm to 6pm.<br />Main Conference Room</span>
          </div>
          <div class="list-action-right">
            <span class="top">2 hours</span>
            <i class="ion-android-done bottom"></i>
          </div>
        </a>
      </li>
      <li class="has-action-left has-action-right">
        <a href="#" class="visible">
          <div class="list-action-left">
            <i class="ion-calendar icon"></i>
          </div>
          <div class="list-content">
            <span class="title">New Hire Meeting</span> - Harry Perry
            <span class="caption">January 12, 2016 - 4pm to 6pm.<br />2nd Conference Room</span>
          </div>
          <div class="list-action-right">
            <span class="top">2 hr</span>
            <i class="ion-android-done bottom"></i>
          </div>
        </a>
      </li>
      <li class="has-action-left has-action-right">
        <a href="#" class="visible">
          <div class="list-action-left">
            <i class="ion-calendar icon"></i>
          </div>
          <div class="list-content">
            <span class="title">Preconference call Conference Call</span> - Arthur Applebottom
            <span class="caption">January 13, 2016 - 8am to 1pm.<br />2nd Conference Room<span>
          </div>
          <div class="list-action-right">
            <span class="top">5 hr</span>
            <i class="ion-android-volume-off bottom"></i>
          </div>
        </a>
      </li>
    </ul>
  </div><!--.col-->
</div>
</div>
      </div>
    </div>
  </div>
</div>
