<div class="page-header full-content bg-brown">
  <div class="row">
    <div class="col-sm-6">
      <h1>Form Pickers <small>short description</small></h1>
    </div><!--.col-->
    <div class="col-sm-6">
      <ol class="breadcrumb">
        <li><a href="#"><i class="ion-home"></i></a></li>
        <li><a href="#">Forms</a></li>
        <li><a href="#" class="active">Pickers</a></li>
      </ol>
    </div><!--.col-->
  </div><!--.row-->
</div><!--.page-header-->


<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title"><h4>DATE RANGE PICKERS</h4></div>
      </div><!--.panel-heading-->
      <div class="panel-body">

        <div class="row example-row">
          <div class="col-md-3">Date Picker</div><!--.col-md-3-->
          <div class="col-md-9">

            <div class="control-group">
              <div class="controls">
                <div class="input-group">
                  <span class="input-group-addon"><i class="ion-android-calendar"></i></span>
                  <div class="inputer">
                    <div class="input-wrapper">
                      <input type="text" style="width: 200px" name="birthday" class="form-control bootstrap-daterangepicker-basic" value="03/18/2013" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div><!--.col-md-9-->
        </div><!--.row-->

        <div class="row example-row">
          <div class="col-md-3">Range Picker</div><!--.col-md-3-->
          <div class="col-md-9">

            <div class="control-group">
              <div class="controls">
                <div class="input-group">
                  <span class="add-on input-group-addon"><i class="ion-android-calendar"></i></span>
                  <div class="inputer">
                    <div class="input-wrapper">
                      <input type="text" style="width: 200px" name="reservation" class="form-control bootstrap-daterangepicker-basic-range" value="03/18/2013 - 03/23/2013" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div><!--.col-md-9-->
        </div><!--.row-->

        <div class="row example-row">
          <div class="col-md-3">Range &amp; Time Picker</div><!--.col-md-3-->
          <div class="col-md-9">

            <div class="control-group">
              <div class="controls">
                <div class="input-group">
                  <span class="input-group-addon"><i class="ion-android-calendar"></i></span>
                  <div class="inputer">
                    <div class="input-wrapper">
                      <input type="text" style="width: 400px" name="reservation" class="form-control bootstrap-daterangepicker-date-time" value="08/01/2013 1:00 PM - 08/01/2013 1:30 PM">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div><!--.col-md-9-->
        </div><!--.row-->

        <div class="row example-row">
          <div class="col-md-3">Bootstrap Dropdown</div><!--.col-md-3-->
          <div class="col-md-9">

            <div class="btn btn-danger bootstrap-daterangepicker-dropdown" >
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              <span></span>
              <b class="caret"></b>
            </div>

          </div><!--.col-md-9-->
        </div><!--.row-->

        <div class="row example-row">
          <div class="col-md-3">Only Specific Ranges</div><!--.col-md-3-->
          <div class="col-md-9">

            <div class="btn btn-success bootstrap-daterangepicker-specific">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              <span>October 11, 2014 - October 17, 2014</span>
              <b class="caret"></b>
            </div>

          </div><!--.col-md-9-->
        </div><!--.row-->

      </div><!--.panel-body-->
    </div><!--.panel-->
  </div><!--.col-md-12-->
</div><!--.row-->

<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title"><h4>TIME PICKERS</h4></div>
      </div><!--.panel-heading-->
      <div class="panel-body">

        <div class="row example-row">
          <div class="col-md-3">In Input</div><!--.col-md-3-->
          <div class="col-md-9">
            <div class="inputer">
              <div class="input-wrapper">
                <input type="text" id="clockface1" value="2:30 PM" data-format="hh:mm A" class="form-control">
              </div>
            </div>
          </div><!--.col-md-9-->
        </div><!--.row-->

        <div class="row example-row">
          <div class="col-md-3">Button</div><!--.col-md-3-->
          <div class="col-md-9">

            <div class="input-group">
									<span id="clockface-toggle" class="input-group-addon">
										<i class="ion-android-calendar"></i>
									</span>
              <div class="inputer">
                <div class="input-wrapper">
                  <input type="text" id="clockface2" value="14:30" class="form-control" readonly="">
                </div>
              </div>
            </div>

          </div><!--.col-md-9-->
        </div><!--.row-->

        <div class="row example-row">
          <div class="col-md-3">Inline</div><!--.col-md-3-->
          <div class="col-md-9">
            <div id="clockface3" class="well" style="width: 210px;"></div>
          </div><!--.col-md-9-->
        </div><!--.row-->

      </div><!--.panel-body-->
    </div><!--.panel-->
  </div><!--.col-md-12-->
</div><!--.row-->

<div class="footer-links margin-top-40">
  <div class="row no-gutters">
    <div class="col-xs-6 bg-brown">
      <a href="forms-tools.html">
        <span class="state">Forms</span>
        <span>Tools</span>
        <span class="icon"><i class="ion-android-arrow-back"></i></span>
      </a>
    </div><!--.col-->
    <div class="col-xs-6 bg-brown">
      <a href="forms-icheck.html">
        <span class="state">Forms</span>
        <span>iCheck</span>
        <span class="icon"><i class="ion-android-arrow-forward"></i></span>
      </a>
    </div><!--.col-->
  </div><!--.row-->
</div><!--.footer-links-->


<script>
  $(document).ready(function () {
    FormsPickers.init();
  });
</script>